// base colors
$yma-color-red: rgb(215, 61, 61);
$yma-color-orange: rgb(224, 104, 20);
$yma-color-yellow: rgb(211, 161, 7);
$yma-color-green: rgb(31, 177, 85);
$yma-color-teal: rgb(18, 166, 149);
$yma-color-cyan: rgb(5, 164, 191);
$yma-color-blue: rgb(53, 117, 221);
$yma-color-indigo: rgb(89, 92, 217);
$yma-color-violet: rgb(125, 83, 221);
$yma-color-pink: rgb(212, 65, 138);
$yma-color-silver: rgb(191, 194, 199);
$yma-color-gray: rgb(96, 103, 115);
$yma-color-lead: rgb(63, 63, 78);
$yma-color-black: black;
$yma-color-white: white;
$yma-color-transparent: transparent;

// borders
$yma-border: 1px;
$yma-border-radius: 0.25rem;

// outlines
$yma-outline-offset: 1px;
$yma-outline-width: 1px;
$yma-decoration-thickness: 1px;

// box model
$yma-dimension: 0.25rem;
$yma-height: 0.25rem;
$yma-width: 0.25rem;
$yma-padding: 0.25rem;
$yma-margin: 0.25rem;
$yma-spacing: 0.25rem;

// fx
$yma-backdrop-blur: 4px;
$yma-box-shadow-xs: 1px 3px 5px -3px rgb(0, 0, 0, 0.1);
$yma-box-shadow-sm: 1px 3px 5px -2px rgb(0, 0, 0, 0.1);
$yma-box-shadow-md: 1px 3px 5px -1px rgb(0, 0, 0, 0.1);
$yma-box-shadow-lg: 1px 3px 5px 1px rgb(0, 0, 0, 0.1);
$yma-box-shadow-xl: 1px 3px 5px 2px rgb(0, 0, 0, 0.1);


// flexbox
$yma-flex-basis: 0.25rem;

// grid
$yma-gap: 0.25rem;
$yma-column-gap: 0.25rem;
$yma-row-gap: 0.25rem;

// layout
$yma-direction: 0.25;

// typography
$yma-font-size: 0.75rem;
$yma-font-weight: 500;
$yma-font-size-xs: $yma-font-size;
$yma-font-size-b: 1rem;
$yma-font-size-sm: $yma-font-size * 2;
$yma-font-size-md: $yma-font-size * 3;
$yma-font-size-lg: $yma-font-size * 4;
$yma-font-size-xl: $yma-font-size * 5;
$yma-font-size-xxl: $yma-font-size * 6;
$yma-font-size-3xl: $yma-font-size * 7;
$yma-font-size-6xl: $yma-font-size * 8;
$yma-font-size-9xl: $yma-font-size * 9;

$yma-font-charter: Charter, Cambria, serif;
$yma-font-mono: ui-monospace, Consolas, monospace;
$yma-font-system: system-ui, sans-serif;