@use "../../abstracts/mixins/create-utilities" as f;
@use "../../abstracts/functions/create-values" as m;

@mixin spacing-x($prefix, $unit, $min: 0, $max: 100) {
  $values: m.create-values($unit, $min, $max);

  // Base classes
  @each $key, $value in $values {
    .#{$prefix}-#{$key} > :not([hidden]) ~ :not([hidden]) {
      margin-left: calc(#{$value} * 1);
      margin-right: calc(#{$value} * calc(1 - 1));
    }
  }

  @include f.create-utilities(
    (
      "values": $values,
    ),
    $prefix,
    ("margin-left", "margin-right")
  );
}

@mixin spacing-y($prefix, $unit, $min: 0, $max: 100) {
  $values: m.create-values($unit, $min, $max);

  // Base classes
  @each $key, $value in $values {
    .#{$prefix}-#{$key} > :not([hidden]) ~ :not([hidden]) {
      margin-top: calc(#{$value} * 1);
      margin-bottom: calc(#{$value} * calc(1 - 1));
    }
  }

  @include f.create-utilities(
    (
      "values": $values,
    ),
    $prefix,
    ("margin-top", "margin-bottom")
  );
}
