@use "sass:math";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins/" as mi;
@use "../utilities/maps/" as ma;

$yma-box-model-utils: (
  "box-sizing": (
    "prefix": "bs",
    "properties": (
      "box-sizing",
    ),
    "values": (
      "bb": border-box,
      "cb": content-box,
    ),
  ),

  "dimension": (
    "prefix": "d",
    "properties": (
      "height",
      "width",
    ),
    "values": ma.$yma-dimension-map,
  ),

  "max-dimension": (
    "prefix": "max-d",
    "properties": (
      "max-height",
      "max-width",
    ),
    "values": ma.$yma-dimension-map,
  ),

  "min-dimension": (
    "prefix": "min-d",
    "properties": (
      "min-height",
      "min-width",
    ),
    "values": ma.$yma-dimension-map,
  ),

  "height": (
    "prefix": "h",
    "properties": (
      "height",
    ),
    "values": ma.$yma-height-map,
  ),

  "max-height": (
    "prefix": "max-h",
    "properties": (
      "max-height",
    ),
    "values": ma.$yma-height-map,
  ),

  "min-height": (
    "prefix": "min-h",
    "properties": (
      "min-height",
    ),
    "values": ma.$yma-height-map,
  ),

  "margin": (
    "prefix": "m",
    "properties": (
      "margin",
    ),
    "values": ma.$yma-margin-map,
  ),

  "margin-bottom": (
    "prefix": "mb",
    "properties": (
      "margin-bottom",
    ),
    "values": ma.$yma-margin-map,
  ),

  "margin-left": (
    "prefix": "ml",
    "properties": (
      "margin-left",
    ),
    "values": ma.$yma-margin-map,
  ),

  "margin-right": (
    "prefix": "mr",
    "properties": (
      "margin-right",
    ),
    "values": ma.$yma-margin-map,
  ),

  "margin-top": (
    "prefix": "mt",
    "properties": (
      "margin-top",
    ),
    "values": ma.$yma-margin-map,
  ),

  "margin-x": (
    "prefix": "mx",
    "properties": (
      "margin-left",
      "margin-right",
    ),
    "values": ma.$yma-margin-map,
  ),

  "margin-y": (
    "prefix": "my",
    "properties": (
      "margin-bottom",
      "margin-top",
    ),
    "values": ma.$yma-margin-map,
  ),

  "padding": (
    "prefix": "p",
    "properties": (
      "padding",
    ),
    "values": ma.$yma-padding-map,
  ),

  "padding-bottom": (
    "prefix": "pb",
    "properties": (
      "padding-bottom",
    ),
    "values": ma.$yma-padding-map,
  ),

  "padding-left": (
    "prefix": "pl",
    "properties": (
      "padding-left",
    ),
    "values": ma.$yma-padding-map,
  ),

  "padding-right": (
    "prefix": "pr",
    "properties": (
      "padding-right",
    ),
    "values": ma.$yma-padding-map,
  ),

  "padding-top": (
    "prefix": "pt",
    "properties": (
      "padding-top",
    ),
    "values": ma.$yma-padding-map,
  ),

  "padding-x": (
    "prefix": "px",
    "properties": (
      "padding-left",
      "padding-right",
    ),
    "values": ma.$yma-padding-map,
  ),

  "padding-y": (
    "prefix": "py",
    "properties": (
      "padding-bottom",
      "padding-top",
    ),
    "values": ma.$yma-padding-map,
  ),

  "spacing-x": (
    "prefix": "sx",
    "properties": (
      "margin-left",
      "margin-right",
    ),
    "values": (
      "custom": true,
      "map": ma.$yma-spacing-map,
    ),
  ),

  "spacing-y": (
    "prefix": "sy",
    "properties": (
      "margin-bottom",
      "margin-top",
    ),
    "values": (
      "custom": true,
      "map": ma.$yma-spacing-map,
    ),
  ),

  "width": (
    "prefix": "w",
    "properties": (
      "width",
    ),
    "values": ma.$yma-width-map,
  ),

  "max-width": (
    "prefix": "max-w",
    "properties": (
      "max-width",
    ),
    "values": ma.$yma-width-map,
  ),

  "min-width": (
    "prefix": "min-w",
    "properties": (
      "min-width",
    ),
    "values": ma.$yma-width-map,
  ),
);

@each $name, $map in $yma-box-model-utils {
  $prefix: map-get($map, "prefix");
  $properties: map-get($map, "properties");
  $values: map-get($map, "values");

  @if type-of($values) == "map" and map-get($values, "custom") {
    @include mi.create-spacing-utilities(
      $prefix,
      map-get($values, "map"),
      $properties
    );
  } @else {
    @include mi.create-utilities($map, $prefix, $properties);
  }
}
