@use "sass:math";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins/" as mi;
@use "../utilities/maps/" as ma;

$yma-interactivity-utils: (
  "appearance": (
    "properties": (
      "appearance",
    ),
    "prefix": "a",
    "values": (
      "auto": auto,
      "none": none,
    ),
  ),

  "cursor": (
    "prefix": "c",
    "properties": (
      "cursor",
    ),
    "values": (
      "auto": auto,
      "ch": crosshair,
      "cr": col-resize,
      "d": default,
      "h": help,
      "m": move,
      "na": not-allowed,
      "ner": ne-resize,
      "neswr": nesw-resize,
      "none": none,
      "nr": n-resize,
      "nwr": nw-resize,
      "nwser": nwse-resize,
      "p": pointer,
      "pr": progress,
      "rs": row-resize,
      "ser": se-resize,
      "sr": s-resize,
      "swr": sw-resize,
      "t": text,
      "w": wait,
      "wr": w-resize,
      "zi": zoom-in,
      "zo": zoom-out,
    ),
  ),

  "pointer-events": (
    "properties": (
      "pointer-events",
    ),
    "prefix": "pe",
    "values": (
      "auto": auto,
      "none": none,
    ),
  ),

  "resize": (
    "prefix": "r",
    "properties": (
      "resize",
    ),
    "values": (
      "b": both,
      "h": horizontal,
      "none": none,
      "v": vertical,
    ),
  ),

  "scroll-behavior": (
    "prefix": "sb",
    "properties": (
      "scroll-behavior",
    ),
    "values": (
      "auto": auto,
      "s": smooth,
    ),
  ),

  "scroll-margin": (
    "prefix": "sm",
    "properties": (
      "scroll-margin",
    ),
    "values": ma.$yma-margin-map,
  ),

  "scroll-mb": (
    "prefix": "s-mb",
    "properties": (
      "scroll-margin-bottom",
    ),
    "values": ma.$yma-margin-map,
  ),

  "scroll-mis": (
    "prefix": "s-mis",
    "properties": (
      "scroll-margin-inline-start",
    ),
    "values": ma.$yma-margin-map,
  ),

  "scroll-ml": (
    "prefix": "s-ml",
    "properties": (
      "scroll-margin-left",
    ),
    "values": ma.$yma-margin-map,
  ),
  "scroll-mr": (
    "prefix": "s-mr",
    "properties": (
      "scroll-margin-right",
    ),
    "values": ma.$yma-margin-map,
  ),

  "scroll-mt": (
    "prefix": "s-mt",
    "properties": (
      "scroll-margin-top",
    ),
    "values": ma.$yma-margin-map,
  ),

  "scroll-mie": (
    "prefix": "s-mie",
    "properties": (
      "scroll-margin-inline-end",
    ),
    "values": ma.$yma-margin-map,
  ),

  "scroll-mx": (
    "prefix": "s-mx",
    "properties": (
      "scroll-margin-left",
      "scroll-margin-right",
    ),
    "values": ma.$yma-margin-map,
  ),

  "scroll-my": (
    "prefix": "s-my",
    "properties": (
      "scroll-margin-bottom",
      "scroll-margin-top",
    ),
    "values": ma.$yma-margin-map,
  ),

  "scroll-padding": (
    "prefix": "sm",
    "properties": (
      "scroll-padding",
    ),
    "values": ma.$yma-padding-map,
  ),

  "scroll-pb": (
    "prefix": "s-pb",
    "properties": (
      "scroll-padding-bottom",
    ),
    "values": ma.$yma-padding-map,
  ),

  "scroll-pis": (
    "prefix": "s-pis",
    "properties": (
      "scroll-padding-inline-start",
    ),
    "values": ma.$yma-padding-map,
  ),

  "scroll-pl": (
    "prefix": "s-pl",
    "properties": (
      "scroll-padding-left",
    ),
    "values": ma.$yma-padding-map,
  ),

  "scroll-pr": (
    "prefix": "s-pr",
    "properties": (
      "scroll-padding-right",
    ),
    "values": ma.$yma-padding-map,
  ),

  "scroll-pt": (
    "prefix": "s-pt",
    "properties": (
      "scroll-padding-top",
    ),
    "values": ma.$yma-padding-map,
  ),

  "scroll-pie": (
    "prefix": "s-pie",
    "properties": (
      "scroll-padding-inline-end",
    ),
    "values": ma.$yma-padding-map,
  ),

  "scroll-px": (
    "prefix": "s-px",
    "properties": (
      "scroll-padding-left",
      "scroll-padding-right",
    ),
    "values": ma.$yma-padding-map,
  ),

  "scroll-py": (
    "prefix": "s-py",
    "properties": (
      "scroll-padding-bottom",
      "scroll-padding-top",
    ),
    "values": ma.$yma-padding-map,
  ),

  "user-select": (
    "prefix": "us",
    "properties": (
      "user-select",
    ),
    "values": (
      "a": all,
      "auto": auto,
      "none": none,
      "t": text,
    ),
  ),
);

@each $name, $map in $yma-interactivity-utils {
  $prefix: map-get($map, "prefix");
  $properties: map-get($map, "properties");

  @include mi.create-utilities($map, $prefix, $properties);
}
