@use "sass:map";
@use "../../abstracts/functions/generate-values" as f;
@use "../../abstracts/variables" as vars;

$yma-width-map: map.merge(
  (
    "1\\/1": 100dvh,
    "1\\/2": 50dvh,
    "auto": auto,
    "fc": fit-content,
    "full": 100%,
    "half": 50%,
    "max": max-content,
    "min": min-content,
  ),
  f.generate-values(vars.$yma-width)
);

$yma-max-width-map: map.merge(
  (
    "1\\/1": 100dvh,
    "1\\/2": 50dvh,
    "auto": auto,
    "fc": fit-content,
    "full": 100%,
    "half": 50%,
    "max": max-content,
    "min": min-content,
  ),
  f.generate-values(vars.$yma-width)
);

$yma-min-width-map: map.merge(
  (
    "1\\/1": 100dvh,
    "1\\/2": 50dvh,
    "auto": auto,
    "fc": fit-content,
    "full": 100%,
    "half": 50%,
    "max": max-content,
    "min": min-content,
  ),
  f.generate-values(vars.$yma-width)
);
