@use "abstracts/variables" as vars;

.ff-c {
  font-family: vars.$yma-font-charter;
  font-weight: vars.$yma-font-weight;
}

.ff-m {
  font-family: vars.$yma-font-mono;
  font-weight: vars.$yma-font-weight;
}

.ff-s {
  font-family: vars.$yma-font-system;
  font-weight: vars.$yma-font-weight;
}
